<!DOCTYPE html>
<html lang="en">
<head>
     <title>旋转目标检测</title>
    <link rel="icon" href="../static/image/A1.png">
<!--    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">-->
<!--    <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato&subset=latin">-->
    <link rel="stylesheet" href="../static/css/loading.css">
</head>
<body>
<div class="loader">
    <span class="binary"></span>
    <span class="binary"></span>
    <span class="getting-there">Load Forecasting...</span>
</div>
<script>

</script>
</body>
</html>